*{

    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    background-color: #101F26;

    font-family: "Baskerville Old Face", serif;
    color: #FFFF;


}

header{
    /*
    margin-bottom: 15vh;
     */
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #223440;
    max-height: 5rem;
    min-height: 2rem;
    width: 100vw;
    padding: .5rem;
}

nav span {
    position: fixed;
    display: flex;
    align-items: center;
    left: 2vw;
    height: auto;
    width: 50%;
    max-width: 70vh;
    font-size: 2vw;

    pointer-events: none;
}


nav div{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    width: 90%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}



nav a{
    font-size: 3vw;
    color: #FFFF;
    list-style: none;
}

a{
    color: #FFFF;
    text-decoration: none;
}

a:hover{
    color: #ACCCD9;
}

a:visited{
    color: #FFFF;
    text-decoration: none;
}

a:visited:hover{
    color: #ACCCD9;
}



nav span img{
    height: auto;
    max-width: 10%;
}


main{

}

main h1{
    font-size: 4vw;
}

main p, main a{
    font-size: 2.5vw;
}

main p{
    margin-bottom: .2rem;
}

main a, main a:visited{
    text-decoration: underline;
    color: #ACCCD9;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;

}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: auto;
    padding: 2vh;

    border-radius: 1rem;
}

.secondary{
    font-size: 1.5vw;
}

.scroll-wrapper{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;

    scroll-snap-type: y proximity;
}

.scroll-section{
    height: 100vh;
    scroll-snap-align: start;
    &:nth-child(even){
        background-color: #223440;
    }
}

.li_col{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
    font-size: 2vw;
}

@media (max-width: 600px) {

    nav div{
        position: relative;
        padding-left: 5vw;
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        width: 80%;
        padding: 0;
    }

    .card{
        text-align: center;
    }

    main h1{
        font-size: 4vh;
    }

    main p, main a{
        font-size: 2.5vh;
    }

    .secondary{
        font-size: 2vh;
    }
}